/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;700;900&family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');



body{
    font-family: 'Barlow';
    font-weight: 400;
}


/* Navbar*/

.navbar-style{
    background-color: rgb(25, 37, 48);
}

.navbar-style .brand{
    font-weight: 900;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

.navbar-style a{
    font-size: 1.2rem;
}

.logo-image{
    margin: 0 10px;
    width: 2rem;
}

/* Random photos*/

.random-photos{
    /* margin: 7% 0; */
    /* background-color: rgba(0, 0, 0, 0.733); */
}

.random-photos img{
    height: 1000px;
    width: 100vw;
    object-fit: contain;
}

.random-photos img:hover{
    /* Gestisci scritte sopra immagini*/
}

/* My gear */

.my-gear{
    /* margin: 7% 30%; */
    background-color: rgb(25, 37, 48);
    text-align: center;
    color: white;
    padding:2rem 3rem;
}

.my-gear h1{
    font-weight: 900;
    font-size: 7rem;
    margin-bottom: 2rem;
    padding-bottom: 1.2rem;
    text-align: center;
    border: 5px solid white;
}

.my-gear h2{
    font-weight: 700;
    font-size: 3rem;
}

.my-gear p{
    color: #8f8f8f;
    font-weight: 400;
    font-size: 1.5rem;
}

.my-gear ul{
    list-style: none;
    margin-bottom: 1rem;
}

.container-apici{
    /* background-color: red; */
    position: relative;
}

.apici{
    height: 8em;
}

.apici-image1{
    position: absolute;
    left: 5%;
    top: -10%;
}

.apici-image2{
    position: absolute;
    transform: rotate(180deg);
    right: 5%;
    bottom: 40%;
}

/* gallery */

/* Footer */

#contacts{
    text-align: center;
}

/* FAB */

.fab{
    font-size: 2rem;
    padding: 2rem;
    margin: 0 2rem;
    color:rgb(25, 37, 48);
}

.fab:hover,:focus{
    color: rgb(47, 57, 67);
    filter: drop-shadow(0 0 10px #363636);
}

/* media */
@media (max-width:700px){
    .random-photos img{
        height: 400px;
    }

    .my-gear h1{
        font-size: 5rem;
    }

    .my-gear{
        /* margin: 7% 30%; */
        background-color: rgb(25, 37, 48);
        text-align: center;
        color: white;
        padding:2rem 2rem;
    }
}